@import './base.scss';
@import './vars.scss';
// Common elements
.header {
  background-color: $gray;
  height: 90px;
  padding: 10px 0;
  border-bottom: 1px solid $pink;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav{
      display: flex;
      gap:15px;
      a{
        text-decoration: none;
        color: $black;
      }
      a.router-link-active{
        color: $pink;
      }
    }
  }
}

.footer{
  background-color: $pink;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > *{
      flex-grow: 1;
    }
    & > p{
      font-size: 14px;
      color: $white;
      text-align: center;
      font-weight: bold;
    }
    & > ul {
      list-style-type: none;
      justify-content: end;
      margin: 0;
      padding: 0;
      display: flex;
        li{
          margin-right: 5px;
        }
        & :last-child{
          margin-right: 0;
        }
    }
  }
  .logo{
    max-width: 150px;
    height: 150px;
  }
}

.logo {
  width: 100%;
  max-width: $logoWidth;
  height: $logoHeight;
  vertical-align: middle;
}

.button{
  color: $white;
  background-color: $button-pink;
  border: none;
  padding: 20px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  max-width: 250px;
}

.card-link{
  color: $card-gray;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
// End common


// Main Page
.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 90px);
  background-image: linear-gradient(rgba(44,55,69,0.8), rgba(44,55,69,0.6)), url(../assets/images/background1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 30px;
  h1{
    color: $white;
    text-align: center;
    font-size: 52px;
    span{
      display: block;
    }
  }
  h2{
    color: $white;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 30px;
  }
}

.recruitment{
  padding: 30px;
  .button{
    margin-top: 50px;
  }
  .image-container{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url(../assets/images/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    // max-width: 650px;
    display: flex;
    // flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 30px;
    margin: 0 auto;
    h2{
      color: $white;
      text-align: center;
      font-size: 20px;
      font-weight: lighter;
      margin-top: 30px;
      text-transform: uppercase;
    }
  }
}

.service{
  h2{
    font-size: 42px;
    text-align: center;
    margin: 30px 0;
  }
  h3{
    font-size: 24px;
    text-align: center;
    font-weight: lighter;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  ul{
    list-style-type: none;
    padding: 0;
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 40px;
    li{
      // flex: 0 0 50%;
      width: 100%;
      .card{
        background-color: $card-pink;
        display: flex;
        height: 100%;
        .card-image{
          min-width: 135px;
        }
        .card-content{
          width:100%;
          padding: 30px 30px 40px;
          display: flex;
          flex-direction: column;
            h4{
              margin-bottom: 15px;
              font-weight: bold;
              font-size: 22px;
            }
            p{
              font-weight: lighter;
              font-size: 18px;
              line-height: 25px;
              margin-bottom: 20px;
            }
            a{
              margin-top: auto;
            }
        }
      }
      &:nth-child(1){
        .card{
          .card-image{
            background-image: url(../assets/images/service1.jpg);
            background-size: cover;
            background-position: center;
          }
        }
      }
      &:nth-child(2){
        .card{
          .card-image{
            background-image: url(../assets/images/service2.jpg);
            background-size: cover;
            background-position: center;
          }
        }
      }
      &:nth-child(3){
        .card{
          .card-image{
            background-image: url(../assets/images/service3.jpg);
            background-size: cover;
            background-position: center;
          }
        }
      }
      &:nth-child(4){
        .card{
          .card-image{
            background-image: url(../assets/images/service4.jpg);
            background-size: cover;
            background-position: center;
          }
        }
      }
    }
  }
}

.carousel{
  margin-top:50px;
}

.about{
  background-color: $card-pink;
  padding-top:60px;
  // padding-bottom: 45px;
  .container{
    display: flex;
    flex-direction: column;
    .info{
      display: flex;
      flex-direction: row;
      gap: 60px;
      margin-bottom: 60px;
      .content{
        width: 50%;
        h2{
          font-size: 42px;
          // font-weight: bold;
          margin-bottom: 28px;
        }
        ul{
          list-style-type: none;
          margin: 0;
          padding: 0;
          li{
            font-size: 18px;
            line-height: 30px;
            font-weight: lighter;
          }
        }
      }
      .image{
        width: 50%;
        img{
          width: 100%;
          vertical-align: middle;
        }
      }
    }
  }
  .list{
    background-color: $card-gray;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 75px 0;
      display: flex;
      li{
        width:25%;
        // border-left: 1px solid $border-pink;
        border-right: 2px solid $border-pink;
        padding: 10px 30px;
        text-align: center;
        color:$white;
        h4{
          font-size: 17px;
          padding-top: 5px;
          padding-bottom: 20px;
          font-weight: normal;
        }
        p{
          font-weight: lighter;
        }
      }
      & :last-child{
        border-right:0;
      }
    }
  }
}

.teacher{
  .container{
    padding: 60px 0;
    h2{
      font-size: 42px;
      line-height: 42px;
      text-align: center;
      margin-bottom: 40px;
    }
    p.teacher-content{
      margin:0 auto;
      max-width: 560px;
      font-size: 24px;
      text-align: center;
      font-weight: lighter;
      line-height: 35px;
    }
  }
}

.form{
 background-image:linear-gradient(rgba(44,55,69,0.8), rgba(44,55,69,0.6)), url(../assets/images/background3.jpg);
 background-size: cover;
 background-position: center center;
 padding:70px 0;
 .container{
  h2{
    font-size: 42px;
    color: $white;
    text-align: center;
    max-width: 600px;
    margin:0 auto;
    margin-bottom: 40px;
  }
  h3{
    max-width: 600px;
    margin:0 auto;
    font-weight: lighter;
    color: $white;
    text-align: center;
  }
  form{
    max-width: 800px;
    margin:0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    input{
      color: $black;
      background-color: $white;
      border-radius: 0;
      border: 0;
      padding:0 20px;
      line-height: 60px;
      font-size: 16px;
      width: 33.3%;
    }
    button{
      margin:0;
      width: 33.3%;
    }
  }
 }
}

.news{
  padding: 50px 0;
  .container{
    h2{
      font-size: 42px;
      text-align: center;
      margin-bottom: 30px;
    }
    h3{
      font-size: 24px;
      text-align: center;
      font-weight: lighter;
      margin-bottom: 50px;
    }
    .news-list{
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      gap: 30px;
      li{
        width: 33.3%;
      }
    }
  }
}

.map{
  // TODO
}
// End Main page


// Login Page
.login{
  // background-color: red;
  // height: calc(100vh - 300px);
  padding: 50px 0;
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
      color: $black;
      font-size: 40px;
    }
    form{
      display: flex;
      margin-top: 40px;
      padding: 40px;
      background-color: $gray;
      border: 1px solid $border-pink;
      border-radius: 10px;
      width: 100%;
      flex-wrap: wrap;
      max-width: 400px;
      input{
        width: 100%;
        margin-bottom: 20px;
        border:none;
        padding: 10px;

      }
      button{
        margin-top: 20px;
        width: 100%;
        padding: 10px;
        border:none;
        background-color: $pink;
        cursor: pointer;
        color: $white;
        
      }
    }
  }
}
// End Login Page