@import '@/assets/_vars.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    outline: 1px solid red;
}

html,
body {
    scrollbar-gutter: stable;
}

body {
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
}